{% block content %} 
  <div class="container">
    <h1>In mother Russia, roll chooses you.</h1>
    <div class="js-reels reels">
      <canvas class="js-canvas1" width="70" height="300"></canvas>
      <canvas class="js-canvas2" width="70" height="300"></canvas>
      <canvas class="js-canvas3" width="70" height="300"></canvas>
      <!-- Loading overlay -->
      <div class="js-loading loading">
        <p>Loading..</p>
        <div class="progressbar">
          <div class="js-progress progress"></div>
        </div>
      </div>
    </div>

    <div class="js-results results">
    </div>
    <div class="js-buttons">
      <button class="js-play button button--main">FIRE!</button>
    </div>
  </div>

  <input class="js-debug button button--secondary" type="button" value="Toggle Reels"/>
  <span class="js-audio-debug">Audio not supported</span>
{% endblock %}